.secret-item {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 120px;
  justify-items: stretch;

  font-size: 20px;
  line-height: 1.2em;
  padding: 4px 12px;
  border-bottom: 1px solid #ededed;

  &:last-child {
    border-bottom: 0;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    word-break: break-all;
    transition: color 0.4s;
  }

  &__details-button {
    font-size: 12px;
    padding-inline: 10px;
  }
}
