.show-secret {
  width: 360px;
  margin: 0 auto;
  padding: 20px 0;

  &_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &_subtitle {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 224, 255, 0.8);
    margin-bottom: 12px;
  }

  &_button {
    width: 100%;
  }

  &_decrypted {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }

  &_copy-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease-in;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
